html,
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.ab{
    position: absolute;
}
#musicBtn{
    position: absolute;
    width: 40px;
     z-index: 9999;
    top:10px;
    right: 10px;
}

#swiper{
    width: 100%;
    height: 100%;
    position: absolute;
    .swiper-slide{
        position: relative;
        width: 100%;
        .arrowUp{
            bottom: 10px;
            width: 38px;
            left:45%;
        }
        &:nth-child(1){
            background-color:#1e2339;
            .idx_bg{
                width: 100%;
                height: 40%;
                top: 0;
                left: 0;
                img{
                    width: 100%;
                    border: none;
                }
            }
            .idx_zw{
                width: 100%;
                top: 30%;
                left: 0;
                span{
                    font: 10px;
                    font-weight: bold;
                    margin-left: 33%;
                    color: #0fc4c4;
                    width: 135px;
                    height: 17px;
                }
                img{
                    width: 100%;
                    border: none;
                }
            }
            .idx_zj{
                width:20%;
                height: 5%;
                top: 50%;
                left: 40%;
                img{
                    width: 100%;
                    border: 1px solid #171717;
                    border-radius: 50%;
                }
            }
            .idx_xx{
                width: 100%;
                height: 30%;
                top:75%;
                left:0;
                display: flex;
                ul{
                    width: 100%;
                    height: 100%;
                    li{
                        float: left;
                        width: 15%;
                        height: 70px;
                        margin-left: 4%;

                        img{
                            width: 100%;
                            height: 100%;
                        }
                        b{
                            display: block;
                            margin-top: -60px;
                            margin-left: 10%;
                            font-size: 20px;
                            color: #0fc4c4;
                        }

                    }
                }
            }
        }
        &:nth-child(2){
            background-color: #1e2339;
            .tou{
                width: 100%;
                height: 15%;
                left: 0;
                top:10%;
                display: flex;
                ul{
                    width: 100%;
                    height: 100%;
                    .tou_zi{
                        display: flex;
                        height: 100%;
                        float: left;
                        p{
                            margin-left: 50px;
                            margin-top: 40px;
                            color: #0d99a3;
                            display: block;
                            font-size: 14px;
                        }

                    }
                    .tou_tu{
                        width: 80px;
                        height: 85px;
                        float: right;
                        margin-right: 25px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        b{
                            display: block;
                            margin-top: -100%;
                            margin-left: 13%;
                            font-size: 24px;
                            color: #0fc4c4;
                        }
                    }
                }
            }
            .two_x{
                width: 100%;
                height: 50%;
                margin-top: 65%;
                ul{
                    width: 100%;
                    height: 100%;
                    li{
                        width: 100%;
                        height: 20%;
                        border-bottom: 2px solid #0d99a3;
                        box-sizing: border-box;
                        img{
                            width:35px;
                            height: 35px;
                            margin-left: 10%;
                            border: none;
                            padding-top: 5%;
                        }
                        p{
                            color: #fff;
                            margin-top: -8%;
                            font-size: 14px;
                            font-weight: bold;
                        }
                        .xm{
                            margin-left: 40%;
                        }
                        .xl{
                            margin-left: 40%;
                        }
                        .jz{
                            margin-left: 35%;
                        }
                        .yx{
                            margin-left: 30%;
                        }
                        .lx{
                            margin-left: 30%;
                        }
                    }
                }
            }
        }
        &:nth-child(3){
            background-color: #1e2339;
            .jl{
                width: 100%;
                height: 15%;
                left: 0;
                top:10%;
                display: flex;
                ul{
                    width: 100%;
                    height: 100%;
                    .jl_zi{
                         float: right;
                        display: flex;
                        height: 100%;
                        margin-right: 14%;
                        p{
                            margin-left: 50px;
                            margin-top: 40px;
                            color: #0d99a3;
                            display: block;
                            font-size: 16px;
                        }

                    }
                    .jl_tu{
                        width: 80px;
                        height: 85px;
                        float: left;
                        margin-left: 25px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        b{
                            display: block;
                            margin-top: -100%;
                            margin-left: 13%;
                            font-size: 24px;
                            color: #0fc4c4;
                        }
                    }
                }
            }
            .yd{
                width: 80%;
                height: 25%;
                left:5%;
                top: 35%;
                .yd_t{
                    width: 100%;
                    height: 30%;
                    color:#0fc4c4 ;
                    font-size: 14px;
                }
                .yd_n{
                    width: 100%;
                    height: 70%;
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 20px;
                }
            }
            .er{
                width: 80%;
                height: 25%;
                left:5%;
                top: 65%;
                .er_t{
                    width: 100%;
                    height: 30%;
                    color:#0fc4c4 ;
                    font-size: 14px;
                }
                .er_n{
                    width: 100%;
                    height: 70%;
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 20px;
                }
            }
        }
        &:nth-child(4){
            background-color: #1e2339;
            .jl{
                width: 100%;
                height: 15%;
                left: 0;
                top:10%;
                display: flex;
                ul{
                    width: 100%;
                    height: 100%;
                    .jl_zi{
                         float: right;
                        display: flex;
                        height: 100%;
                        margin-right: 3%;
                        p{
                            margin-left: 50px;
                            margin-top: 40px;
                            color: #0d99a3;
                            display: block;
                            font-size: 16px;
                        }

                    }
                    .jl_tu{
                        width: 80px;
                        height: 85px;
                        float: left;
                        margin-left: 25px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        b{
                            display: block;
                            margin-top: -100%;
                            margin-left: 13%;
                            font-size: 24px;
                            color: #0fc4c4;
                        }
                    }
                }
            }
            .jn_one{
                width: 100%;
                height: 10%;
                top: 40%;
                left: 0;
                ul{
                    width: 100%;
                    height: 100%;
                    li{
                        width: 10%;
                        height: 100%;
                        float: left;
                        margin-left: 5%;
                    }
                }
            }
            .jn_two{
                width: 100%;
                height: 10%;
                top: 50%;
                left: 0;
                ul{
                    width: 100%;
                    height: 100%;
                    li{
                        width: 10%;
                        height: 100%;
                        float: left;
                        margin-left: 5%;
                    }
                }
             }
             .jn_treen{
                width: 100%;
                height: 10%;
                top:60%;
                left: 0;
                ul{
                    width: 100%;
                    height: 100%;
                    li{
                        width: 10%;
                        height: 100%;
                        float: left;
                        margin-left: 5%;
                    }
                }
             }
             .jn_fou{
                width: 100%;
                height: 10%;
                top: 70%;
                left: 0;
                ul{
                    width: 100%;
                    height: 100%;
                    li{
                        width: 10%;
                        height: 100%;
                        float: left;
                        margin-left: 5%;
                    }
                }
             }
            .jy{
                width: 100%;
                height: 10%;
                color: #0d99a3;
                text-indent: 2em;
                bottom: 10%;
                left: 5%;
            }
        }
        

        &:nth-child(5){
            background-color: #000;
        }
        &:nth-child(6){
             background-color: #1e2339;
            .jl{
                width: 100%;
                height: 15%;
                left: 0;
                top:10%;
                display: flex;
                ul{
                    width: 100%;
                    height: 100%;
                    .jl_zi{
                         float: right;
                        display: flex;
                        height: 100%;
                        margin-right: 14%;
                        p{
                            margin-left: 50px;
                            margin-top: 40px;
                            color: #0d99a3;
                            display: block;
                            font-size: 16px;
                        }

                    }
                    .jl_tu{
                        width: 80px;
                        height: 85px;
                        float: left;
                        margin-left: 25px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        b{
                            display: block;
                            margin-top: -100%;
                            margin-left: 13%;
                            font-size: 24px;
                            color: #0fc4c4;
                        }
                    }
                }
            }
            .yi{
                width: 70%;
                height: 3%;
                margin-top: 51%;
                margin-left: 15%;
                }
            .zwpj{
                    width: 121%;
                    height: 20%;
                    top: 94%;
                    left: 13%;
                        .er{
                            width: 5%;
                            height: 60%;
                            float: left;
                            img{
                                width: 100%;
                                border: none;
                            }
                        }
                        .san{
                                width: 50%;
                                height: 60%;
                                float: left;
                                margin-top: 15%;
                                color: #fff;
                              
                             p{
                                text-indent: 2em;
                                line-height: 24px;
                                font-size: 14px;
                            }
                        }
                        .si{
                            width: 5%;
                            height:60%;
                            float: left;
                             img{
                                width: 100%;
                                border: none;
                            }
                        }
            }
        .wu{
                width: 70%;
                height: 3%;
                margin-top: 102%;
                left: 15%;
                img{
                    width: 100%;
                    border: none;
                }
            }  
            
            
        }
    }
}
